@{
    ViewBag.Title = "Iniciar Sesión";
}

@section Styles
{
    @Styles.Render("~/Content/login_main.css")
    @Styles.Render("~/Content/login_util.css")
}
<div class="container-login100" style="background-image: url('../../images/isss_bg_1.png')">
    <div class="wrap-login100 p-l-75 p-r-55 p-t-55 p-b-55">
        <table>
            <tr>
                <th>
                    @{ Html.RenderAction("Login", "User"); }
                </th>
                <th>
                    @{ Html.RenderAction("SignIn", "User"); }
                </th>
            </tr>
        </table>
    </div>
</div>
@{
    if (null != TempData["noFullData"] || null != TempData["maxSizeReached"] || null != TempData["userFound"])
    {
        <script>
            $("#loginSection").hide();
            $("#signinSection").show();
        </script>
    }
}